.exp1_head{
    background-color: #696969;
    width: 1373px; height: 469px;
           
}
.exp2_head{
    background-color:forestgreen;
    width: 1373px; height: 411px;
           
}
.exp3_head{
    background-color:rgb(71, 34, 139);
    width: 1363px; height: 163px;
           
}